
    <form [formGroup]="formulario" (ngSubmit)="addUsuario()">
        <fieldset>
            <legend>Registrar usuario</legend>

            <section>
                
                <div>
                    <label for="username">Nombre usuario</label>
                    <input type="text" id="username" formControlName="nombreUsuario">
                </div>
                @if (formulario.controls['nombreUsuario'].touched) {
                    @if (formulario.controls['nombreUsuario'].getError('required')) {
                        <span>Campo requerido</span>
                      }
                }
                
            </section>
           
            <section>

                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email">
                    @if (formulario.controls['email'].touched) {
                        @if (formulario.controls['email'].getError('required')) {
                            <span>Campo requerido</span>
                        }
                        @if (formulario.controls['email'].getError('email')) {
                            <span>El email no es un correo valido</span>
                        }
                    }
                    
                </div>

            </section>
           

            <section>

                <div>
                    <label for="contraseña">Contraseña</label>
                    <input type="password" formControlName="contrasena">
                </div>
                @if (formulario.controls['contrasena'].touched) {
                    @if (formulario.controls['contrasena'].getError('required')) {
                        <span>Contraseña requerida</span>
                    }
                }
               
            </section>
            
            <button>Registrar usuario</button>
        </fieldset>
    </form>

