<h3>Aca iria el nombre o algo parecido que diga iniciar sesion gordo boludo</h3>
<form [formGroup]="formulario" (ngSubmit)="ingresar()">

    <section>
        <div>
            <label for="">Ingrese el nombre de usuario</label>
            <input type="text" formControlName="nombreUsuario">
        </div>
        @if (formulario.controls['nombreUsuario'].touched) {
            @if (formulario.controls['nombreUsuario'].getError('requiered')) {
                <span>Campo requerido</span>
            }
        }
    </section>

    <section>
        <div>
            <label for="">Ingrese la contraseña</label>
            <input type="password" formControlName="contrasena">
        </div>
        @if (formulario.controls['contrasena'].touched) {
            @if (formulario.controls['contrasena'].getError('requiered')) {
                <span>Campo requerido</span>
            }
        }

        <button>Ingresar</button>
    </section>
</form>